.stylesCard {
  background: #fefae0;
  margin: 10px 35px;
  margin-bottom: 15px;
  width: 17rem;
  border-radius: 20px;
  display: inline-block;
  backface-visibility: hidden;
  transition: all 400ms ease;
  overflow: hidden;
  box-sizing: content-box;
  transition: 0.5s;
  box-shadow: 2px 4px 10px 2px #168aad;
  min-height: 150px;
  border: 1px transparent;
  
}

.front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f22394df-9a75-4771-8225-ea50370155c7/d4mh7q5-25a47434-05e7-413b-9934-7c555ab034e8.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YyMjM5NGRmLTlhNzUtNDc3MS04MjI1LWVhNTAzNzAxNTVjN1wvZDRtaDdxNS0yNWE0NzQzNC0wNWU3LTQxM2ItOTkzNC03YzU1NWFiMDM0ZTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.o5MBcxD2GF6ZtvOpSmq2UBuRQ7wTjHLNgYN2f8AOyUU");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.back .type-container h2 {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.back .type-container .img-types img {
  height: 50px;
}

.back .type-container .img-types {
  position: relative;
  height: 30px;
  color: #000;
  bottom: -190px;
}

.back .type-container p {
  position: relative;
  bottom: -200px;
  color: #000;
}

.stylesCard:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.stylesCard:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.fire {
  background-color: #fd585a;
}

.fighting {
  background-color: #c03028;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #e665e6;
}

.ground {
  background-color: #e0c068;
}

.rock {
  background-color: #b8a038;
}

.bug {
  background-color: #f19c79;
}

.ghost {
  background-color: #705898;
}

.steel {
  background-color: #b8b8d0;
}

.water {
  background-color: #96b3f8;
}

.electric {
  background-color: #f8d030;
}

.psychic {
  background-color: #f85888;
}

.ice {
  background-color: #98d8d8;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.grass {
  background-color: #aad576;
}

.fairy {
  background-color: #ffb7fa;
}

/* .stylesCard:hover {
  box-shadow: 15px 15px 30px #76c893;
  transform: translateY(-5%);
} */

.name {
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  font-size: 20px;
  color: var(--verydarkcyan);
  font-weight: 600;
}

.typeStyle {
  list-style-type: none;
  color: #2e023b;
  text-decoration-line: none;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  /* margin-top: 5px; */
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

ul li {
  text-decoration-line: none;
  list-style-type: none;
  text-align: center;
  align-content: center;
}
