.card {
  background: rgba(52, 11, 90, 0.87);
  margin: 35px;
  width: 17rem;
  border-radius: 10px;
  display: inline-block;
  transition: all 400ms ease;
  box-sizing: content-box;
  min-height: 150px;
  border-color: #22043dda;
  border-width: 1.5px;
  border-style: solid;
  cursor: pointer;
}

.card:hover {
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0, 4);
  transform: translateY(-3%);
}

.name {
  font-family: "Sofia", cursive;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

