.color-fire {
  background-color: #fd585a !important;
}

.fire {
  background-color: #fd585a;
}

.color-flying {
  background-color: #a890f0 !important;
}

.flying {
  background-color: #a890f0;
}

.color-poison {
  background-color: #e665e6 !important;
}

.poison {
  background-color: #e665e6;
}

.color-ground {
  background-color: #e0c068 !important;
}

.ground {
  background-color: #e0c068;
}

.color-bug {
  background-color: #f19c79 !important;
}

.bug {
  background-color: #f19c79;
}

.color-water {
  background-color: #96b3f8 !important;
}

.water {
  background-color: #96b3f8;
}

.color-electric {
  background-color: #f8d030 !important;
}

.electric {
  background-color: #f8d030;
}

.color-grass {
  background-color: #aad576 !important;
}
.grass {
  background-color: #aad576;
}

.color-fairy {
  background-color: #ffb7fa !important;
}
.fairy {
  background-color: #ffb7fa;
}

.card {
  position: relative;
  width: 230px;
  height: 270px;
  margin: 0px 25px;
  margin-top: 45px;
  margin-bottom: 10px;
  width: 17rem;
  border-radius: 10px;
  display: inline-block;
}

.card:hover {
  transform: translateY(-10%);
  transition: 0.4s;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0, 4);
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #d9ed92;
}

.card .front img {
  object-fit: cover;
  filter: drop-shadow(-2px 2px 15px #fefae0);
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: black;
  background: #fefae0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.type-container h1 {
  color: white;
  text-decoration: underline;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f22394df-9a75-4771-8225-ea50370155c7/d4mh7q5-25a47434-05e7-413b-9934-7c555ab034e8.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YyMjM5NGRmLTlhNzUtNDc3MS04MjI1LWVhNTAzNzAxNTVjN1wvZDRtaDdxNS0yNWE0NzQzNC0wNWU3LTQxM2ItOTkzNC03YzU1NWFiMDM0ZTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.o5MBcxD2GF6ZtvOpSmq2UBuRQ7wTjHLNgYN2f8AOyUU");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #d9ed92;
}
.type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.type-container .type {
  margin-top: 145px;
  border: 1px transparent;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  align-content: center;
  padding: 0px 10px;
  color: white;
  background: #c03028;
}

.card .back .type-container p {
  font-family: var(--poppins);
  color: black;
  margin-bottom: -145px;
  margin-top: 130px;
}

.card .back .type-container .img-types img {
  height: 50px;
}
.card .back .type-container .img-types {
  position: relative;
  height: 30px;
  color: #000;
  bottom: -190px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
