* {
  margin: 0;
  box-sizing: border-box;
}

.home {
  height: 100% 100vh;
}

.home-filter {
  display: flex;
  align-items: flex-start;
}

.searchbar {
  margin: 15px 30px;
}

.home-content {
  align-items: center;
}

.searchbar select {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 7px;
  margin-top: 20px;
  border: none !important;
  background-color: #184e77;
  color: white;
  outline: none;
  font-weight: 600;
}

.searchbar select option {
  color: white;
}

.clear-filtros {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 7px;
  margin-top: 20px;
  border: none !important;
  background-color: #fefae0;
  color: black;
  outline: none;
  font-weight: 600;
}
