* {
  margin: 0;
  box-sizing: border-box;
}

.home {
  height: 100%;
}


.home-filter {
  display: flex;
  justify-content: space-between;
}

.home-content {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.home-content nav ul {
  padding: 0;
  margin-bottom: 20px;
}

.searchbar {
  margin: 15px 40px;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.searchbar select {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 7px;
  margin-top: 20px;
  border: none !important;
  background-color: #184e77;
  color: white;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.searchbar select option {
  color: white;
}

.clear-filtros {
  max-width: 60%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 7px;
  margin-top: 40px;
  border: none !important;
  background-color: #fefae0;
  color: black;
  outline: none;
  font-weight: 600;
}

.filters {
  position: fixed;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
