* {
  margin: 0;
  box-sizing: border-box;
  /* background-image: url("https://images4.alphacoders.com/119/119284.jpg"); */
}

:root {
  --poppins: "Poppins", sans-serif;
  --opens-sans: "Open Sans", sans-serif;
  --pink: #d9ed92;
  --lightpink: #34a0a4;
  --lightred: #184e77;
  --verydarkcyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
  --padding-conteiner: 80px 0;
}

body {
  font-family: var(--opens-sans);
  /* padding: var(--padding-conteiner); */
  height: 100%;
  /* borrar el de arriba */
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  overflow: hidden;
  /* lo que sale del contenedor se esconde */
  padding: var(--padding-conteiner);
}

.hero {
  background-image: url("https://images2.alphacoders.com/119/119130.jpg");
  z-index: 0;
  background-size: 100% auto;
  background-position: center 60%;
  background-repeat: repeat-y;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* display flex y heigh borrar */
}

.hero__nav {
  background-color: var(--verydarkcyan);
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__main {
  text-align: center;
  /* flex: 1; */
}

.hero__logo {
  width: 40%;
  max-width: 160px;
  margin: 2px 20px;
}

.hero__huddle {
  width: 40%;
  display: block;
  /* para quitar el margen que tienen por defecto las imagenes */
}

.hero__huddle:hover {
  transform: translateY(-5%);
}

.hero__cta {
  color: white;
  text-decoration: none;
  margin: 5px 25px;
  padding: 8px 13px;
  border-radius: 5px;
  font-weight: 600;

  --c: #34a0a4;

  /* box-shadow: 0 0 0 0.1em inset black; */
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  background-color: #184e77;
}

.hero__cta:hover {
  color: black;
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.hero__cta:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.hero__title {
  padding: 2px 2px;
  font-family: var(--poppins);
  color: #76c893;
  font-size: 35px;
}

.hero__texts {
  /* background-color: rgba(0, 0, 0, 0.5); */

  font-size: 20px;
  border-radius: 35px;
}

.hero__paragraph {
  width: 90%;
  color: white;
  line-height: 1.5;
  margin: 16px auto;
}

.hero__home {
  background: #184e77;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  border-radius: 5px;
  top: 50px;
}

.hero__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fff,
    #d9ed92,
    #76c893,
    #34a0a4,
    #168aad,
    #184e77,
    #d9ed92
  );
  background-size: 800%;
  border-radius: 5px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
