* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #184e77;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.left{
  right: 0;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
 left: 0;
  
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.navbar ul li p {
  text-decoration: none;
  color: #91fadc;
  font-family: "Montserrat", sans-serif;
}
.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #d9ed92;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.4s ease-out;
}
.navbar ul li:hover::before {
  width: 100%;
}


