/* .logo {
    width:140px;
    float: left;
    margin-left: 10px;
    /* margin-bottom: 30px; */


.created {
  float: left;
  margin: 5px 50px;
  font-size: 35px;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.4s;
}
.created:hover {
  color: #D9ED92;
}

.header {
  overflow: hidden;
  /* margin: 0px 20px; */
  padding: 5px;
  height: 70px;
  box-sizing: content-box;
  border-radius: 10px;
  background-color: #184E77;
}
