* {
  margin: 0;
  box-sizing: border-box;
  /* background-image: url("https://images4.alphacoders.com/119/119284.jpg"); */
}
:root {
  --poppins: "Poppins", sans-serif;
  --opens-sans: "Open Sans", sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.navbar {
  position: fixed;
  background-color: hsl(192, 100%, 9%);
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}

.navbar__create {
  display: flex;
  align-items: flex-start;
  /* width: 20%; */
  margin: 2px 20px;
}

.about {
  display: flex;
  align-items: flex-end;
  margin: 0px 20px;
}

.navbar__social {
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
}

.navbar__button-create {
  color: black;
  text-decoration: none;
  margin: 5px 5px;
  padding: 8px 13px;
  border-radius: 5px;
  font-weight: 600;

  --c: #52b69a;

  /* box-shadow: 0 0 0 0.1em inset black; */
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  background-color: #fefae0;
}
.navbar__button-create:hover {
  color: black;
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.navbar__button-create:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.navbar__button {
  color: white;
  text-decoration: none;
  margin: 5px 5px;
  padding: 8px 13px;
  border-radius: 5px;
  font-weight: 600;

  --c: #34a0a4;

  /* box-shadow: 0 0 0 0.1em inset black; */
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  background-color: #184e77;
}
.navbar__button:hover {
  color: black;
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.navbar__button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}
