.number {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  display: inline;
  padding: -5px;
}

.btn {
  background-color: #D9ED92;
  border-width: 2px;
  border-color: #168AAD;
  border-radius: 15px;
  transition-duration: 0.4s;
  width: 50px;
  height: 30px;
  margin-top: 15px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #52B69A;
  box-shadow: 2px 4px 10px 5px #168AAD;
  
}
