.number {
  margin: 0 5px;
  align-items: center;
  display: inline;
  padding: -5px;
}
.btn-current {
  background-color: #f2e8cf;
  /* color: white; */
  border: 1px solid;
  border-color: transparent;
  border-radius: 7px;
  transition-duration: 0.4s;
  padding: 5px 10px;
  font-weight: 600;
  margin-top: 15px;
}

.btn {
  background-color: #184e77;
  color: white;
  border: 1px solid;
  border-color: transparent;
  border-radius: 7px;
  transition-duration: 0.4s;
  padding: 7px 10px;
  margin-top: 18px;
  
  font-weight: 600;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #52b69a;
  box-shadow: 2px 4px 10px 0px #168aad;
}
