* {
  box-sizing: border-box;
}

.form {
  width: 300px;
  height: 660x;
  padding: 15px;
  margin: 0px;
  background: rgba(10, 59, 105, 0.61);
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.input {
  outline: none;
}
.title {
  font-size: 23px;
  color: rgb(0, 0, 0);
  font-family: Geneva, Tahoma, sans-serif;
}

label {
  margin: 7px;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  color: #fff;
  outline: none;
}
.error {
  color: rgb(255, 2, 2);
  margin-top: 2px;
  font-size: 14px;
}

.types-s {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.bottom {
  background-color: rgb(26, 0, 51);
  border-radius: 5px;
  padding: 8px;
  color: rgb(243, 231, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  cursor: pointer;
}

.atras {
  background-color: rgb(26, 0, 51);
  border-radius: 5px;
  color: rgb(243, 231, 255);
  margin-right: 20px;
  cursor: pointer;
  padding: 8px;
}

button {
  align-content: center;
  margin-top: 5px;
}
